.text-tracked {
  letterspacing: 0.1em;
}

.text-size-2 {
  font-size: 2.25rem;
}
.text-size-3 {
  font-size: 1.5rem;
}

.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}

.decorative-icon {
  position: absolute;
  top: -0.2em;
  right: -0.2em;
}

.h-100vh {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.delay-1 {
  animation-delay: 0.4s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.6s;
}
.delay-4 {
  animation-delay: 0.7s;
}
.delay-5 {
  animation-delay: 0.8s;
}
.delay-6 {
  animation-delay: 0.9s;
}
.delay-7 {
  animation-delay: 1s;
}
.delay-8 {
  animation-delay: 1.1s;
}
.delay-9 {
  animation-delay: 1.2s;
}
.delay-10 {
  animation-delay: 1.3s;
}
.delay-11 {
  animation-delay: 1.4s;
}