<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">Email Statistics</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-body ">
            <div id="chartPreferences" class="ct-chart ct-perfect-fourth"><svg
                xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-pie"
                style="width: 100%; height: 100%;">
                <g class="ct-series ct-series-c">
                  <path d="M31,96.5A26,26,0,0,0,14.357,102.525L31,122.5Z" class="ct-slice-pie" ct:value="11"></path>
                </g>
                <g class="ct-series ct-series-b">
                  <path d="M14.427,102.467A26,26,0,0,0,26.217,148.056L31,122.5Z" class="ct-slice-pie" ct:value="36">
                  </path>
                </g>
                <g class="ct-series ct-series-a">
                  <path d="M26.128,148.039A26,26,0,1,0,31,96.5L31,122.5Z" class="ct-slice-pie" ct:value="53"></path>
                </g>
                <g><text dx="43.94230553984004" dy="123.72340807314069" text-anchor="middle"
                    class="ct-label">53%</text><text dx="18.408418905327796" dy="125.73296853314311"
                    text-anchor="middle" class="ct-label">36%</text><text dx="26.5964070368112" dy="110.26855000359507"
                    text-anchor="middle" class="ct-label">11%</text></g>
              </svg></div>
          </div>
          <div class="card-footer ">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Open
              <i class="fa fa-circle text-danger"></i> Bounce
              <i class="fa fa-circle text-warning"></i> Unsubscribe
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">Users Behavior</h4>
            <p class="card-category">24 Hours performance</p>
          </div>
          <div class="card-body ">
            <div id="chartHours" class="ct-chart">
              SVG
            </div>
          </div>
          <div class="card-footer ">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Open
              <i class="fa fa-circle text-danger"></i> Click
              <i class="fa fa-circle text-warning"></i> Click Second Time
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-history"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">2017 Sales</h4>
            <p class="card-category">All products including Taxes</p>
          </div>
          <div class="card-body ">
            <div id="chartActivity" class="ct-chart">
              SVG
            </div>
          </div>
          <div class="card-footer ">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Tesla Model S
              <i class="fa fa-circle text-danger"></i> BMW 5 Series
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-check"></i> Data information certified
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card  card-tasks">
          <div class="card-header ">
            <h4 class="card-title">Tasks</h4>
            <p class="card-category">Backend development</p>
          </div>
          <div class="card-body ">
            <div class="table-full-width">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Sign contract for "What are conference organizers afraid of?"</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-link"
                        data-original-title="Edit Task">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link"
                        data-original-title="Remove">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-link"
                        data-original-title="Edit Task">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link"
                        data-original-title="Remove">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept
                      through metro Detroit
                    </td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-link"
                        data-original-title="Edit Task">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link"
                        data-original-title="Remove">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" checked="">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Create 4 Invisible User Experiences you Never Knew About</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-link"
                        data-original-title="Edit Task">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link"
                        data-original-title="Remove">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Read "Following makes Medium better"</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-link"
                        data-original-title="Edit Task">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link"
                        data-original-title="Remove">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" disabled="">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>Unfollow 5 enemies from twitter</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-link"
                        data-original-title="Edit Task">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link"
                        data-original-title="Remove">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>