<div class="container-fluid as-full">
  <h2>Formulaire d'évaluation du niveau de satisfaction !</h2>
  <div class="row" *ngIf="showUserVoteZone || showCarVoteZone">
    <div class="col-12">
      <p>
        Cette étape intervient suite à la fin de la prestation réalisée entre vous et 
        <i>{{ toInfo.role }}</i> <b> {{toInfo.name}} </b> 
        . Prestation faite du <b><time> {{adInfo.start_date | date:'dd/MM/yyyy HH:mm' }} </time> </b>  au
        <b> <time> {{adInfo.end_date | date:'dd/MM/yyyy HH:mm' }} </time> </b>. 
        <br>
        <span>
            Veuillez remplir et soumettre les informations ci-dessous:
        </span>
      </p>
    </div>
  </div>
  <div class="row" *ngIf="error || success">
      <div class="col-12">
          <div class="card">
              <div class="form-group" *ngIf="success">
                <div class="alert alert-success" role="alert" style="width: 100% !important;">
                  {{success }}
                </div>
              </div>
              <div class="form-group" *ngIf="error">
                <div class="alert alert-danger" role="alert" style="width: 100% !important;">
                  {{error }}
                </div>
              </div>
              
          </div>
      </div>
  </div>
  
  <div class="row">
    <div class="col-6 align-self-center" *ngIf="showUserVoteZone">
      <div class="card"  style="background: rgb(226, 182, 231);">
        <div class="card-body">
         
          <form (ngSubmit)="onSubmitUserScore()" [formGroup]="userScoreForm">
            <div class="form-group">
             
                  <star-rating labelText="Note du {{toInfo.role}} :"
                  (ratingChange)="onUserRatingChange($event)"
                   size="large" [starType]="'svg'"
                   speed="slow"
                   [hoverEnabled]="true"
                   direction="ltr"></star-rating>
            </div>
            <div class="form-group">
              <textarea name="userCommentNegative" class="negative_comment" id="userCommentNegative" 
              formControlName="negative_comment"
              placeholder="Décrivez les défauts rencontrés avec ce client ..." style="width: 100%" rows="4">
              </textarea>
            </div>
           
            <div class="form-group">
              <textarea name="userCommentPositive" class="positive_comment" id="userCommentPositive" 
              formControlName="positive_comment"
              placeholder="Décrivez les qualités de cet utilisateur (comportement, reactivité ,... )" style="width: 100%" rows="4">
              </textarea>
            </div>
            <button type="submit" class="col-md-12 btn btn-primary">Soumettre</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 align-self-center" *ngIf="showCarVoteZone">
      <div class="card" style="background: #D8E4F0;">
        <div class="card-body">
          <form (ngSubmit)="onSubmitCarScore()" [formGroup]="carScoreForm">
              <div class="form-group">
               
                    <star-rating labelText="Note de la voiture :"
                    (ratingChange)="onCarRatingChange($event)" 
                     size="large" [starType]="'svg'"
                     speed="slow"
                     [hoverEnabled]="true"
                     direction="ltr"></star-rating>
              </div>
              <div class="form-group">
                <textarea name="carCommentNegative" class="negative_comment" id="carCommentNegative" 
                formControlName="negative_comment"
                placeholder="Décrivez les défauts rencontrés avec ce vehicule ..." style="width: 100%" rows="4">
                </textarea>
              </div>
             
              <div class="form-group">
                <textarea name="carCommentPositive" class="positive_comment" id="carCommentPositive" 
                formControlName="positive_comment"
                placeholder="Décrivez les éléments positifs de votre expérience avec cette voiture" style="width: 100%" rows="4">
                </textarea>
              </div>
              
              <button type="submit" class="col-md-12 btn btn-primary">Soumettre</button>
            </form>
        </div>
      </div>
    </div>

  </div>
</div>