<div class="wrap cf">
  <h1 class="projTitle">Mes reservations</h1>
  <div class="heading cf">
    <a href="#" class="continue">Aller aux annonces !</a>
  </div>
  <div class="cart">
    
    <ul class="cartWrap" *ngIf="reservations && reservations.length">
      <li class="items" [ngClass]="{even: i%2}" #reserId *ngFor="let reservation of reservations; let i = index">
        <div class="infoWrap">
          <div class="cartSection">
            <img [src]="getImage(reservation.ad.car.images.images[0])" alt="" class="itemImg" />
            
            <h3>
              Berline ACl-SS2
              <p class="stockStatus" [ngClass]="{out: !reservation.status}" >
                {{ reservation.status ? 'DEJA VALIDÉE' : 
                (!reservation.ad.status ? 'ANNULÉE': 'EN ATTENTE')  }}
              </p>
            </h3> 
            <p><b>De</b> {{reservation.ad.start_date}} </p> --
            <p><b> à</b> {{reservation.ad.end_date}}  </p>
            <br>
            <p> 
               
            <span title="{{ reservation.ad.car.motor}}" class="badge badge-info" style="margin-left: 3px;" >
                Moteur {{ reservation.ad.car.motor}}</span>
            <span title="{{!reservation.ad.car.airbag ? 'INDISPONIBLE' : 'DISPONIBLE'}}"   style="margin-left: 2px;"
            class="badge"
            [ngClass]="{'badge-danger': !reservation.ad.car.airbag, 'badge-success': !!reservation.ad.car.airbag }" >
            Airbag</span>
            <span title="{{!reservation.ad.car.abs ? 'INDISPONIBLE' : 'DISPONIBLE'}}"  style="margin-left: 1px;"
            class="badge"
            [ngClass]="{'badge-danger': !reservation.ad.car.abs, 'badge-success': !!reservation.ad.car.abs }" >
             ABS</span>
            <span title="{{!reservation.ad.car.centralized ? 'INDISPONIBLE' : 'DISPONIBLE'}}"  style="margin-left: 2px;"
            class="badge"
            [ngClass]="{'badge-danger': !reservation.ad.car.centralized, 'badge-success': !!reservation.ad.car.centralized }" >
             Centralisation</span>
            </p>

            
          </div>


          <div class="prodTotal cartSection">
            <p>{{reservation.ad.price | currency:'MAD'}} </p>
          </div>
          <div class="cartSection removeWrap" *ngIf="!reservation.status && reservation.ad.status">
            <button class="btn btn-danger" (click)="cancelReservation(reservation ,reserId)" >ANNULER</button>
          </div>
        </div>
      </li>
    

    </ul>
    <ul class="cartWrap" *ngIf="reservations && !reservations.length">
        <li class="items" >
            <div class="special">
              <div class="specialContent">
                <span class="alert alert-danger">Aucune reservation pour le moment !</span>
              </div></div>  
        </li>
      </ul>
  </div>

</div>