<div class="wrap cf">
  <h1 class="projTitle">Mes reservations</h1>
  <div class="heading cf">
    <a href="#" class="continue">Aller aux annonces !</a>
  </div>
  <div class="cart">
    
    <ul class="cartWrap" *ngIf="reservations && reservations.length">
      <li class="items odd">

        <div class="infoWrap">
          <div class="cartSection">
            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
            <p class="itemNumber">#RESV-1-120</p>
            <h2>Berline ACl-SS2</h2>
            <p>22-Fev 2019</p>
            <p> 
               
              <span
              class="badge badge-danger" >
              Status Airbag</span>
              <span class="badge badge-success" >
              Status ABS</span>
              <span class="badge badge-success" >
              Status Centralisation</span>
            </p>

            <p class="stockStatus"> En attente</p>
          </div>


          <div class="prodTotal cartSection">
            <p>MAD1500.00</p>
          </div>
          <div class="cartSection removeWrap">
            <a href="#" class="remove">x</a>
          </div>
        </div>
      </li>
    

    </ul>
    <ul class="cartWrap" *ngIf="reservations && !reservations.length">
        <li class="items" >
            <div class="special">
              <div class="specialContent">
                <span class="alert alert-danger">Aucune reservation pour le moment !</span>
              </div></div>  
        </li>
      </ul>
  </div>

</div>