<div class="row car-item">
  <!-- Product Carousel -->
  <div class="col-md-5" style="padding: 0px 5px;">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="./assets/img/car-renting.jpg" alt="Random first slide">
        <div class="carousel-caption">
          <p>Hyper Robuste</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/img/nos-vehicules.jpg" alt="Random first slide">
        <div class="carousel-caption">
          <p>Une autre voiture spéciale</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <!-- Product Info -->

  <div class="col-md-7" style="padding: 0px;">
    <div class="card card-custom">

      <!-- Body -->
      <div class="card-body">
        <h1 class="card-heading card-custom-heading">{{ car.brand }} - ({{ car.model }})</h1>
        <br>
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Caractéristiques</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Catégorie</th>
                    <td>{{car.category}}</td>
                  </tr>
                
                  <tr>
                    <th scope="row">Catégorie</th>
                    <td>{{car.category}}</td>
                  </tr>
                
                </tbody>
              </table>
        </div>

      </div>

      <div class="card-footer card-custom-footer text-center px-2">
        <a href="" class="btn btn-success">
          <i class="fa fa-shopping-cart"></i> Annoncer
        </a>
        <a href="" class="btn btn-warning">
          <i class="fa fa-shopping-cart"></i> Editer
        </a>
        <a href="" class="btn btn-danger">
          <i class="fa fa-shopping-cart"></i> Supprimer
        </a>
      </div>

    </div>
  </div>

</div>
