<div class="container mt-5 mb-5">
  <form (ngSubmit)="onSubmit()" [formGroup]="newAdForm" enctype="multipart/form-data" >
    <h3>Nouvelle annonce de location </h3>
    <div class="row mt-5">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
              <div class="form-group" *ngIf="success !== null">
                <div class="alert alert-success" role="alert" style="width: 100% !important;">
                  {{success | titlecase}}
                </div>
                <div class="form-group" *ngIf="error.length > 0">
                  <div *ngFor="let message of error" role="alert" class="alert alert-danger"  style="width: 100% !important">{{message | titlecase}}</div>
                </div>
              </div>
              <div class="form-group" *ngIf="selectedCar !== null">
                  <div class="alert alert-success" role="alert" style="width: 100% !important;">
                    {{ selectedCar.model }} ({{ selectedCar.brand }}) est prềte pour l'annonce !
                  </div>
              </div>
              <div class="form-group" *ngIf="selectedCar === null">
                  <label for="ad_car">Selection de la voiture </label>
                  <select formControlName="car_id" class="form-control" id="ad_car">
                    <option *ngFor="let car of allMyCars"  [ngValue]="car.id">
                      {{ car.brand + ' (' + car.model + ' -  ' +  car.matricule + ' )'  }}
                    </option>
                  </select>
              </div>
              <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ad_city">Ville de disponibilité</label>
                      <select formControlName="city_id" class="form-control" id="ad_city">
                        <option *ngFor="let city of cities"  [ngValue]="city.id">{{city.name }}</option>
                      </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ad_price">Prix/heure</label>
                        <input type="number" min="10" formControlName="price" class="form-control" id="ad_price">
                    </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ad_start">Date de début</label>
                        <input type="date" min="" formControlName="date_start" class="form-control" id="ad_start">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ad_end">Date de fin</label>
                        <input type="date" min="{{newAdForm.value.date_start}}" formControlName="date_end" class="form-control" id="ad_end">
                    </div>
                </div>
              </div>
              
              <div class="form-group">
                  <label for="ad_description">Description</label>
                  <textarea formControlName="description" class="form-control" id="ad_description">
                  </textarea>
              </div>

              <div class="form-group d-flex justify-content-end mt-3">
                  <button type="reset" class="btn btn-danger d-flex align-items-center mr-3">
                    Annuler
                  </button>
                  <button type="submit"
                  class="btn btn-success d-flex align-items-center float-right"
                   >
                    Enregistrer
                  </button>
              </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>