<div class="col-xs-12 col-sm-12">
  <br>
  <h3 class="projTitle">Mes informations personnelles </h3>
  <ngb-alert *ngIf="!currentUser.status" [type]="'danger'" [dismissible]="false">
    <div class="container">
      Votre compte est incomplet/inactif ! <a [routerLink]="['/profile/edit']" class="btn btn-info">Editer !</a>
      <button type="button" name="button" class="close" (click)="closeAlert(this)">
        <i class="nc-icon nc-simple-remove"></i>
      </button>
    </div>
  </ngb-alert>
  <div class="profile-user-info">
    <div class="profile-info-row">
      <div class="profile-info-name"> Nom complet : </div>

      <div class="profile-info-value">
        <span>{{ currentUser.name }}</span>
      </div>
    </div>

    <div class="profile-info-row">
      <div class="profile-info-name"> Addresse de résidence </div>

      <div class="profile-info-value">
        <i class="fa fa-map-marker light-orange bigger-110"></i>
        <span>{{currentUser.address}}</span>
        <span>{{currentUser.city_id}}</span>
      </div>
    </div>

    <div class="profile-info-row">
      <div class="profile-info-name"> Adresse électronique </div>

      <div class="profile-info-value">
        <span>{{currentUser.email}}</span>
      </div>
    </div>

    <div class="profile-info-row">
      <div class="profile-info-name"> Date d'inscription </div>
      <div class="profile-info-value">
        <span>2019/04/10</span>
      </div>
    </div>

    <div class="profile-info-row">
      <div class="profile-info-name">Status du compte</div>
      <div class="profile-info-value">
        <span *ngIf="currentUser.status" style="color:green;">
          <i class="ace-icon fa fa-circle smaller-80 align-middle">
          </i> Actif
        </span>
        <span *ngIf="!currentUser.status" style="color:red;">
          <i class="ace-icon fa fa-circle smaller-80 align-middle">
          </i> Compte inactif
        </span>
      </div>
    </div>
  </div>
  <h3 class="projTitle" *ngIf="currentUser.role !== 'ADMIN'">Mes évaluations</h3>
  <div class="profile-user-info" *ngIf="currentUser.role !== 'ADMIN'">
    <div class="col-md-12" id="car-reviews" *ngIf="currentUser.scores.score_count > 0">
      <app-preview-item *ngFor="let score of currentUser.scores.scores" [score]="score"></app-preview-item>
    </div>
    <div class="col-md-12" id="car-reviews" *ngIf="currentUser.scores.score_count == 0">
      <div class="review-wrap">
        <div class="review negative">
          <span class="badge badge-danger">Aucun commentaire pour le moment !</span>
        </div>
      </div>
    </div>
  </div>
</div>