<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background:rgb(252, 250, 250);">
    
  </div>
  <div class="section pad2" style="background: #F1F3FA; margin: 0 !important; padding: 10px !important;">
      <div class="row  profile">
        <div class="col-md-3" style="margin: 0px; padding: 0 10px;">
          <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img
                src="{{currentUser.image ? currentUser.image : './assets/img/faces/default-profile.jpg'}}"
                class="img-responsive" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                {{currentUser.name}}
              </div>
              <div class="profile-usertitle-job">
                {{currentUser.role}} 
                <span >
                  <i class="ace-icon fa fa-circle smaller-80 align-middle" style="color:lawngreen;">
                  </i>
                </span>
              </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons">
                <span *ngFor="let score of [1 , 2 , 2]" class="fa fa-star checked"></span>
                <span *ngFor="let score of  [1, 2]" class="fa fa-star"></span>
                <br>
                <br>
                <a [routerLink]="['/profile/edit']" class="btn btn-info">Editer mon profil</a>
            </div>
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
              <ul class="nav">
                <li>
                  <a [routerLink]="['/profile/overview']" routerLinkActive="active">
                    <i class="glyphicon glyphicon-home"></i>
                    Mes informations </a>
                </li>
                <li *ngIf="currentUser.role == 'PARTNER'" >
                  <a [routerLink]="['/profile/ads']" routerLinkActive="active">
                    <i class="glyphicon glyphicon-user"></i>
                    Reservations</a>
                </li>
                <li *ngIf="currentUser.role == 'PARTNER'">
                  <a [routerLink]="['/profile/cars']" routerLinkActive="active">
                    <i class="glyphicon glyphicon-ok"></i>
                    Mes voitures </a>
                </li>
                <li *ngIf="currentUser.role == 'CLIENT'">
                  <a [routerLink]="['/profile/history']" routerLinkActive="active">
                    <i class="glyphicon glyphicon-flag"></i>
                    Mon historique </a>
                </li>
              </ul>
            </div>
            <!-- END MENU -->

            <div class="portlet light bordered">
              <!-- STAT -->
              <div class="row list-separated profile-stat">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> 37 </div>
                  <div class="uppercase profile-stat-text"> Stat1 </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> 51 </div>
                  <div class="uppercase profile-stat-text"> Clients </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title"> 6100 </div>
                  <div class="uppercase profile-stat-text"> DHS </div>
                </div>
              </div>
              <!-- END STAT -->
              <div>
                <h4 class="profile-desc-title">About Jason Davis</h4>
                <span class="profile-desc-text"> Une petite description </span>
                <div class="margin-top-20 profile-desc-link">
                  <i class="fa fa-plus"></i>
                  <a href="">+212 00....</a>
                </div>
                <div class="margin-top-20 profile-desc-link">
                  <i class="fa fa-plus"></i>
                  <a href="">Tetouan</a>
                </div>
                <div class="margin-top-20 profile-desc-link">
                  <i class="fa fa-plus"></i>
                  <a href="">*********</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 profile-content" style="margin: 0px; padding: 0 10px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>
