<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/Nissan-Skyline-2000-GTX-classic-car_1920x1200.jpg');">
        <div class="container">
            <div class="row no-pad" style="padding-bottom: 10px;">
                <div class="col-lg-6 col-md-12 align-content-center" style="background: rgba(153, 51, 51, 0.705);" >
                    <form #loginForm=ngForm (ngSubmit)="onSubmit()" style="padding: 10px;">
                        <h3 class="login-title">Connexion</h3>
                        <br>
                        <div class="alert alert-danger" *ngIf="error !== null ">
                            {{error}}
                        </div>
                        
                        <label>Adresse électronique</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-email-85"></i>
                            </span>
                        </div>
                        <input type="text"  class="form-control" name="email" placeholder="Email" [(ngModel)]="form.email" required  >
                        </div>
                        
                        <label>Mot de passe</label>
                        <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-key-25"></i>
                            </span>
                        </div>
                            <input type="password" class="form-control" name="password" placeholder="Password"  [(ngModel)]="form.password"
                            required>
                        </div>
                        <button class="btn btn-danger btn-block btn-round" style="margin-top: 25px; opacity: 1;" [disabled]="!loginForm.valid">SE CONNECTER</button>
                            
                        <div class="forgot">
                            <a routerLink="/request-password-reset" class="btn btn-info btn-block btn-round">Forgot password?</a>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div> 
</div>