<div class="container">
  <h2>Liste de mes annonces</h2>
</div>
<div class="wrap cf">
  <div class="heading cf">
    <a href="#" class="continue">Aller aux annonces !</a>
  </div>
  <div class="cart">
    <ul class="cartWrap"  *ngIf="reservations && reservations.length">
      <li class="items" [ngClass]="{even: i%2}" *ngFor="let reservation of reservations; let i = index">
        <div class="infoWrap">
          <div class="cartSection">
            <img [src]="getImage(reservation.ad.car.images.images[0])" alt="" class="itemImg" />
            <p><b>{{reservation.ad.car.brand}} ( {{reservation.ad.car.model}} )</b></p>
            <h3>Réservée par {{reservation.reservator.name}}</h3>
            <p><b>De</b> {{reservation.ad.start_date}} </p> --
            <p><b> à</b> {{reservation.ad.end_date}}  </p>

            <p class="stockStatus" [ngClass]="{out: !reservation.status}" > {{!reservation.status ? 'EN ATTENTE': 'DEJA VALIDÉE' }}  </p><br>
          </div>
          <div class="prodTotal cartSection">
              <p>
                  <strong>{{reservation.ad.price | currency:'MAD'}} </strong>
              </p>
          </div>
          <div class="cartSection removeWrap">
          
          	<div>
              <span *ngFor="let score of [1 , 2 , 2]" class="fa fa-star checked"></span>
              <span *ngFor="let score of  [1, 2]" class="fa fa-star"></span>
          	</div>
          </div>
        </div>
        <div class="prodTotal cartSection" *ngIf="!reservation.status" >
            <button class="btn btn-primary">Valider</button>
            <button class="btn btn-danger">Annuler</button>
        </div>
      </li>
      
    </ul>
    <ul class="cartWrap" *ngIf="reservations && !reservations.length">
      <li class="items" >
          <div class="special">
            <div class="specialContent">
              <span class="alert alert-danger">Aucune reservation pour le moment !</span>
            </div></div>  
      </li>
    </ul>
  </div>

</div>
