/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import './assets/sass/paper-kit.scss';
@import '~css-star-rating/scss/star-rating.scss';


/* Override Colors by using style rules */
.rating.color-negative .star-container .star {
    svg {
      fill: #0f0;
    }
    i {
      color: #0f0;
    }
  }
  
  .rating.color-ok .star-container .star {
    svg {
      fill: #f00;
    }
    i {
      color: #f00;
    }
  }
  
  .rating.color-positive .star-container .star {
    svg {
      fill: #00f;
    }
    i {
      color: #00f;
    }
  }
  
  .rating.color-default .star-container .star {
    svg {
      fill: #ff0;
    }
    i {
      color: #ff0;
    }
  }