<div class="card">
  <app-ribon text="New" ></app-ribon>
  <div class="image">
    <img src="./assets/img/nos-vehicules.jpg">
    <div class="slider__ribon">
      <div class="ribon">100$ / h</div>
    </div>
  </div>
  <div class="body">
    <span class="post-date">
      Lundi 21 mars, 20H 
    </span>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </span>
    <h2 class="productname">
      Ferrari 
      <span class="model">(XAL-A65)</span>
    </h2>
    <span class="description">
      Lorem ipsum description
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quo.
    </span>
    
    <div class="btn_wrapper">
      <button type="button" title="Bestel eenvoudig & snel" class="button btn-cart">
        <span>
          <i class="fa fa-car"></i>
          <i class="fa fa-arrow-down"></i>
          <span>Reserver</span>
        </span>
        <div class="spinner"></div>
      </button>
     
      <button type="button" title="Bestel eenvoudig & snel" class="button btn-view">
        <span>
          <i class="fa fa-eye"></i>
          &nbsp;
          &nbsp;
          <span>Détails</span>
          &nbsp;
        </span>
        <div class="spinner"></div>
      </button>

       
    </div>
  </div>
</div>