<div class="card" #adBox>
  <app-ribon text="New" ></app-ribon>
  <div class="image">
    <img src="./assets/img/nos-vehicules.jpg">
    <div class="slider__ribon">
      <div class="ribon">{{ (adInfo.price || 152 ) | currency:'MAD'}}</div>
    </div>
  </div>
  <div class="body">
    <div class="ad-info">
        <span class="post-date">
            {{adInfo.start_date | date:'MM/yyyy HH:mm' }} -
            {{adInfo.end_date | date:'MM/yyyy HH:mm' }} 
        </span>
      <span class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </span>
      <h2 class="productname" [title]="adInfo.car.brand + '('+ adInfo.car.model +')'">
        {{ (adInfo.car.brand || 'Ferrari') | slice:0:10 }} 
        <span class="model">(
          {{ (adInfo.car.model || 'ModXA-6') | slice:0:10 }} )
        </span>
      </h2><!-- 
      <span class="description">
          {{ ( adInfo.description || 'Une description par default !') | slice:0:25  }} 
      </span> -->
      <ul class="some-spec">
        <li>
          <span class="badge badge-info">
            <i class="fa fa-map-marker"></i>
            {{ adInfo.city.name | uppercase }}
          </span>
        </li>
        <li>Du : <span class="date-field">{{adInfo.start_date | date:'MM/yyyy HH:mm' }}</span></li>
        <li>Au : <span class="date-field">{{adInfo.end_date | date:'MM/yyyy HH:mm' }}</span></li>
      </ul>
      <div class="some-details">
            
          <span title="{{ adInfo.car.motor}}" class="badge badge-info" >
              Moteur {{ adInfo.car.motor}}</span>
          <span title="{{!adInfo.car.airbag ? 'INDISPONIBLE' : 'DISPONIBLE'}}" 
          class="badge"
          [ngClass]="{'badge-danger': !adInfo.car.airbag, 'badge-success': !!adInfo.car.airbag }" >
          Airbag</span>
          <span title="{{!adInfo.car.abs ? 'INDISPONIBLE' : 'DISPONIBLE'}}" 
          class="badge"
          [ngClass]="{'badge-danger': !adInfo.car.abs, 'badge-success': !!adInfo.car.abs }" >
           ABS</span>
          <span title="{{!adInfo.car.centralized ? 'INDISPONIBLE' : 'DISPONIBLE'}}" 
          class="badge"
          [ngClass]="{'badge-danger': !adInfo.car.centralized, 'badge-success': !!adInfo.car.centralized }" >
           Centralisation</span>
      </div>

    </div>
    
    <div class="btn_wrapper">
      <button type="button" #bookBtn (click)="bookAd()" title="Reserver" class="button btn-cart">
        <span>
          <i class="fa fa-car"></i>
          <i class="fa fa-arrow-down"></i>
          <span>Reserver</span>
        </span>
        <div class="spinner"></div>
      </button>
     
      <button type="button" (click)="showAdDetails(1)" title="Afficher plus de details" class="button btn-view">
        <span>
          <i class="fa fa-eye"></i>
          &nbsp;
          <span>Détails</span>
          &nbsp;
        </span>
        <div class="spinner"></div>
      </button>
    </div>
  </div>
</div>