<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background:rgb(252, 250, 250);">
    <!-- <div class="filter"></div> -->
  </div>
  <main class="container-fluid">
    <div class="row" style="position: relative;">
      <!-- cd-filter -->
      <a (click)="toggleFilter()" class="cd-filter-trigger">Filtrer les resultats</a>
      <div class="cd-filter" #filterBox>
        <form>
          <!-- cd-filter-block -->
          <div class="cd-filter-block">
            <h4>Marque de voiture</h4>
            <div class="cd-filter-content">
              <div class="cd-select cd-filters">
                <select class="filter form-control" name="brand" id="brand">
                  <option value=".all">Toutes</option>
                  <option value=".option1">Option 1</option>
                  <option value=".option2">Option 2</option>
                  <option value=".option3">Option 3</option>
                  <option value=".option4">Option 4</option>
                </select>
              </div>
              <!-- cd-select -->
            </div>
            <!-- cd-filter-content -->
          </div>
          <!-- cd-filter-block -->
          <div class="cd-filter-block">
            <h4>A partir du</h4>
            <div class="cd-filter-content">
              <div class="cd-filters list">
                <input type="date" min="{{ fromMinimun }}" name="dateFrom" id="dateFrom">
              </div>
              <!-- cd-select -->
            </div>
            <!-- cd-filter-content -->
          </div>
          <!-- cd-filter-block -->
          <div class="cd-filter-block">
            <h4>Budget maximal/heure</h4>
            <div class="cd-filter-content">
              <div class="cd-filters list">
                <input type="number" min="100" name="maxPrice" id="maxPrice">
              </div>
              <!-- cd-select -->
            </div>
            <!-- cd-filter-content -->
          </div>


          <!-- cd-filter-block -->
          <div class="cd-filter-block">
            <h4>Note de la voiture</h4>
            <ul class="cd-filter-content cd-filters list">
              <li>
                <input class="filter" class="form-control" data-filter=".check1" type="checkbox" id="carrate1">
                <label class="checkbox-label" for="carrate1">
                  <span *ngFor="let score of [1 , 2 , 2 , 2 , 0]" class="fa fa-star checked"></span>
                  <span *ngFor="let score of  []" class="fa fa-star"></span>
                </label>
              </li>
              <li>
                <input class="filter" class="form-control" data-filter=".check2" type="checkbox" id="carrate2">
                <label class="checkbox-label" for="carrate2">
                  <span *ngFor="let score of [1 , 2 , 3 , 4]" class="fa fa-star checked"></span>
                  <span *ngFor="let score of  [1]" class="fa fa-star"></span>
                </label>
              </li>
              <li>
                <input class="filter" class="form-control" data-filter=".check3" type="checkbox" id="carrate3">
                <label class="checkbox-label" for="carrate3">
                  <span *ngFor="let score of [1 , 2 , 3 ]" class="fa fa-star checked"></span>
                  <span *ngFor="let score of  [1, 2]" class="fa fa-star"></span>
                </label>
              </li>
            </ul>
            <!-- cd-filter-content -->
          </div>

          <!-- cd-filter-block -->
          <div class="cd-filter-block">
            <h4>Note du partenaire</h4>
            <ul class="cd-filter-content cd-filters list">
              <li>
                <input class="filter" class="form-control" data-filter=".check1" type="checkbox" id="checkbox1">
                <label class="checkbox-label" for="checkbox1">
                  <span *ngFor="let score of [1 , 2 , 2 , 2 , 0]" class="fa fa-star checked"></span>
                  <span *ngFor="let score of  []" class="fa fa-star"></span>

                </label>
              </li>
              <li>
                <input class="filter" class="form-control" data-filter=".check2" type="checkbox" id="checkbox2">
                <label class="checkbox-label" for="checkbox2">
                  <span *ngFor="let score of [1 , 2 , 2 , 2 ]" class="fa fa-star checked"></span>
                  <span *ngFor="let score of  [1]" class="fa fa-star"></span>
                </label>
              </li>
              <li>
                <input class="filter" class="form-control" data-filter=".check3" type="checkbox" id="checkbox3">
                <label class="checkbox-label" for="checkbox3">
                  <span *ngFor="let score of [1 , 2 , 2 ]" class="fa fa-star checked"></span>
                  <span *ngFor="let score of  [1, 2]" class="fa fa-star"></span>
                </label>
              </li>
              <li>
                <input class="filter" class="form-control" data-filter=".check3" type="checkbox" id="checkbox4">
                <label class="checkbox-label" for="checkbox4">
                  <span *ngFor="let score of [1 , 2  ]" class="fa fa-star checked"></span>
                  <span *ngFor="let score of  [1, 2 , 3]" class="fa fa-star"></span>
                </label>
              </li>
              <li>
                <input class="filter" class="form-control" data-filter=".check3" type="checkbox" id="checkbox4">
                <label class="checkbox-label" for="checkbox4">
                  <span *ngFor="let score of [1 ]" class="fa fa-star checked"></span>
                  <span *ngFor="let score of  [1, 2 , 3 , 4]" class="fa fa-star"></span>
                </label>
              </li>
            </ul>
            <!-- cd-filter-content -->
          </div>

          <div class="cd-filter-block">
            <h4>Search</h4>
            <div class="cd-filter-content">
              <input type="search" class="form-control" placeholder="Try color-1...">
            </div>
            <!-- cd-filter-content -->
          </div>


        </form>
        <a (click)="toggleFilter()" class="cd-close">Fermer</a>
      </div>

      <div class="container-fluid articles">

        <div class="row ad-items">
          <h2>
            Offres spéciales
          </h2>
          <div class="section">
            <div class="row ad-items">
              <app-card-item *ngFor="let ad of filteredAds" [adInfo]="ad" ></app-card-item>
              <app-card-item *ngFor="let ad of filteredAds" [adInfo]="ad" ></app-card-item>
              <app-card-item *ngFor="let ad of filteredAds" [adInfo]="ad" ></app-card-item>
              <app-card-item *ngFor="let ad of filteredAds" [adInfo]="ad" ></app-card-item>
              <app-card-item *ngFor="let ad of filteredAds" [adInfo]="ad" ></app-card-item>
              <app-card-item *ngFor="let ad of filteredAds" [adInfo]="ad" ></app-card-item>
              <app-card-item *ngFor="let ad of filteredAds" [adInfo]="ad" ></app-card-item>
            </div>
          </div>
        </div>
       
      </div>
    </div>

  </main>
</div>