<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background:rgb(19, 8, 8);">
      <div class="filter"></div>
    </div>
    <div class="container" style="padding: 10px;">
      <div class="form-row" style="padding: 5px;"  id="filterZone1">
        <div class="col-3">
          <select name="brand" class="form-control" id="brand">
            <option value="ferrari">Ferrari</option>
            <option value="fox">Fox</option>
          </select>
        </div>
        <div class="col-3">
          <select name="model"  class="form-control" id="model">
            <option value="ADL25-65">ADL25-65</option>
            <option value="XDC25-65">ADL25</option>
          </select>
        </div>
        <div class="col-3">jjhkjjk</div>
        <div class="col-3">jkkjhkjh</div>
      </div>
      <div class="form-row " id="filterZone2">
        <div class="col-8">
          <ul class="topics">
            <li><input type="checkbox"  class="form-control"  id="box-1"/><label for="box-1">AUTOMATIQUE</label></li>
            <li><input type="checkbox"  class="form-control" id="box-2"/><label for="box-2">TRANSMISSION ARRIERE</label></li>
            <li><input type="checkbox"  class="form-control" id="box-3" checked /><label for="box-3">ABS</label></li>
            <li><input type="checkbox"  class="form-control" id="box-4"/><label for="box-4">AIRBAG</label></li>
          </ul>
        </div>
        <div class="col-4">jkjsdj</div>
      </div>
      <div class="row ad-items">
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
      </div>
      <h1>Produits annexes</h1>
      <div class="row ad-items">
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
      </div>
    </div>
</div>