<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background:rgb(19, 8, 8);">
      <div class="filter"></div>
    </div>
    <div class="container">
      <div class="row">
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
      </div>
      <h1>Produits annexes</h1>
      <div class="row">
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
        <app-card-item></app-card-item>
      </div>
    </div>
</div>